<div class="dashbord">
  <div class="container my-3">
    <div class="row">
      <div class="col-md-3" *ngFor="let item of notes">
        <div class="dashbord_group">
          <div class="dashbord_group_wrapper">
            <h5 class="dashbord_group_wrapper_title">{{ item.group_name }}</h5>
          </div>
          <div class="dashbord_group_body">
            <div *ngFor="let itemNotes of item.notes" class="card my-2">
              <div class="card-body">
                <p class="card-text">{{ itemNotes.name }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
